# Environment files for docker composes
.env.production
production.env

# Home assistant configuration file
configuration-production.yaml

node_modules/

config/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

[Oo]bj/
