[Unit]
Description=Send ToDo mail
                                                    
[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true
                                                    
[Install]
WantedBy=timers.target

